*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body { 
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}
.bg-aula-0{
    display: block;
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 0px 104px 0px;
}

h1, h2{
  color: #ffff;
  font-family: "Inter",sans-serif;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
}

.headline h1{
  margin-bottom: 24px;
}


@media (max-width:600px){
  .btn-aula{
    padding: 16px 32px;
    font-size: 14px;
    margin-top: 16px;
  }
  h1, h2{
    font-size: 24px;
  }
  .bg-aula-0{
    padding: 48px 0px 88px 0px;
  }
}

/*video youtube*/
.video-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-vendas{
  display: block;
  width: 80%;
}

@media (max-width:600px){
    .video-vendas{
      width: 100%;
}
}

.ytvideo{
  max-width: 100%;
	padding-top: 56.25%;
	position: relative;
	width: 100%;
}

.ytvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #FFFFFF66;
  border-radius: 6px;
}

/* ######## Oferta ############ */

.delay{
  display: none;
}

.delay.active{
  display: block;
  transition: .3s ease;
}


.oferta{
  margin-top: 40px;
}

.content-oferta ul{
  position: relative;
  margin-top: 24px;
}

.content-oferta li {
  display: block;
  font-family: "Inter",sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 140%;
}

.preco-list {
  color: #D9D9D9;
  margin-bottom: 12px;
  padding-left: 40px;
}

.preco-list::before{
    position: absolute;
    content: '';
    background-image: url(../img/icon-check.svg);
    background-size: cover;
    width: 24px;
    height: 18px;
    top: 4px;
    left: 0px;
}


.content-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  margin-top: 32px;
}